.signupscreen {
    max-width: 300px;
    padding: 70px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 0, 0, 0.85);
}

.signupscreen>form {
    display: grid;
    flex-direction: column;
}

.signupscreen>form>input {
    border: none;
    margin-bottom: 14px;
    height: 40px;
    border-radius: 5px;
    outline-width: 0px;
    padding: 5px 15px;
}

.signupscreen>form>button {
    padding: 16px 20px;
    color: #fff;
    border-radius: 5px;
    background-color: #e50914;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.signupscreen_gray {
    color: gray;
}

.signupscreen_signlink:hover {
    text-decoration: underline;
    cursor: pointer;
}

.signupscreen>form>h4 {
    text-align: left;
    margin-top: 30px;
}

.signupscreen>form>h1 {
    text-align: left;
    margin-bottom: 25px;
}